.coin_search {
    box-sizing: border-box;
    padding: 10px;
    background-color: #454545;
    display: flex;
}

.coin_input {
    border: 0.1px solid;
    width: 100%;
    color: white;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: larger;
    background-color: rgb(0, 0, 0);
}

.button {
    width: 10%;
    background-color: black;
    color: white;
    font-size:10px ;
}
